*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    overflow: hidden;
    user-select: none;
}

body{
    cursor: none;
}

/******************
***** CANVAS ******
******************/

canvas{
    position: absolute;
    top: 0;
    left: 0;
}

.bgcanvas{
    background-color: #141414;
    z-index: 1;
}

.playercanvas{
    z-index: 2;
}